<a href="https://colab.research.google.com/github/jahed2/rasa_ecommarce/blob/master/rasa_sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
df = pd.read_csv('/content/chats.csv',error_bad_lines=False)
df

b'Skipping line 5: expected 7 fields, saw 9\nSkipping line 10: expected 7 fields, saw 9\nSkipping line 15: expected 7 fields, saw 9\nSkipping line 17: expected 7 fields, saw 10\nSkipping line 18: expected 7 fields, saw 9\nSkipping line 19: expected 7 fields, saw 9\nSkipping line 32: expected 7 fields, saw 9\nSkipping line 34: expected 7 fields, saw 10\nSkipping line 35: expected 7 fields, saw 8\nSkipping line 39: expected 7 fields, saw 9\nSkipping line 41: expected 7 fields, saw 12\nSkipping line 45: expected 7 fields, saw 9\nSkipping line 47: expected 7 fields, saw 10\nSkipping line 48: expected 7 fields, saw 9\nSkipping line 49: expected 7 fields, saw 9\nSkipping line 62: expected 7 fields, saw 9\nSkipping line 64: expected 7 fields, saw 10\nSkipping line 65: expected 7 fields, saw 9\nSkipping line 66: expected 7 fields, saw 9\nSkipping line 71: expected 7 fields, saw 10\nSkipping line 80: expected 7 fields, saw 13\nSkipping line 81: expected 7 fields, saw 10\nSkipping line 82: expected 7 fields, saw 9\nSkipping line 83: expected 7 fields, saw 9\nSkipping line 88: expected 7 fields, saw 10\nSkipping line 97: expected 7 fields, saw 9\nSkipping line 99: expected 7 fields, saw 10\nSkipping line 100: expected 7 fields, saw 9\nSkipping line 101: expected 7 fields, saw 9\nSkipping line 106: expected 7 fields, saw 10\nSkipping line 107: expected 7 fields, saw 11\nSkipping line 110: expected 7 fields, saw 9\nSkipping line 112: expected 7 fields, saw 10\nSkipping line 113: expected 7 fields, saw 9\nSkipping line 114: expected 7 fields, saw 9\nSkipping line 119: expected 7 fields, saw 10\nSkipping line 128: expected 7 fields, saw 9\nSkipping line 130: expected 7 fields, saw 10\nSkipping line 131: expected 7 fields, saw 9\nSkipping line 132: expected 7 fields, saw 9\nSkipping line 137: expected 7 fields, saw 10\nSkipping line 146: expected 7 fields, saw 13\nSkipping line 147: expected 7 fields, saw 10\nSkipping line 148: expected 7 fields, saw 9\nSkipping line 149: expected 7 fields, saw 9\nSkipping line 154: expected 7 fields, saw 19\nSkipping line 157: expected 7 fields, saw 13\nSkipping line 158: expected 7 fields, saw 10\nSkipping line 159: expected 7 fields, saw 9\nSkipping line 160: expected 7 fields, saw 9\nSkipping line 165: expected 7 fields, saw 10\nSkipping line 174: expected 7 fields, saw 13\nSkipping line 175: expected 7 fields, saw 10\nSkipping line 176: expected 7 fields, saw 9\nSkipping line 177: expected 7 fields, saw 9\nSkipping line 182: expected 7 fields, saw 10\nSkipping line 189: expected 7 fields, saw 9\nSkipping line 190: expected 7 fields, saw 9\nSkipping line 199: expected 7 fields, saw 13\nSkipping line 200: expected 7 fields, saw 10\nSkipping line 201: expected 7 fields, saw 9\nSkipping line 202: expected 7 fields, saw 9\nSkipping line 207: expected 7 fields, saw 10\nSkipping line 216: expected 7 fields, saw 9\nSkipping line 218: expected 7 fields, saw 10\nSkipping line 219: expected 7 fields, saw 9\nSkipping line 220: expected 7 fields, saw 9\nSkipping line 233: expected 7 fields, saw 9\nSkipping line 235: expected 7 fields, saw 10\nSkipping line 236: expected 7 fields, saw 9\nSkipping line 237: expected 7 fields, saw 9\nSkipping line 251: expected 7 fields, saw 9\nSkipping line 253: expected 7 fields, saw 10\nSkipping line 254: expected 7 fields, saw 9\nSkipping line 255: expected 7 fields, saw 9\nSkipping line 269: expected 7 fields, saw 9\nSkipping line 271: expected 7 fields, saw 10\nSkipping line 272: expected 7 fields, saw 9\nSkipping line 273: expected 7 fields, saw 9\nSkipping line 275: expected 7 fields, saw 10\nSkipping line 286: expected 7 fields, saw 9\nSkipping line 288: expected 7 fields, saw 10\nSkipping line 289: expected 7 fields, saw 9\nSkipping line 290: expected 7 fields, saw 9\nSkipping line 295: expected 7 fields, saw 10\nSkipping line 304: expected 7 fields, saw 9\nSkipping line 306: expected 7 fields, saw 10\nSkipping line 307: expected 7 fields, saw 9\nSkipping line 308: expected 7 fields, saw 9\nSkipping line 312: expected 7 fields, saw 11\nSkipping line 315: expected 7 fields, saw 9\nSkipping line 317: expected 7 fields, saw 10\nSkipping line 318: expected 7 fields, saw 9\nSkipping line 319: expected 7 fields, saw 9\nSkipping line 323: expected 7 fields, saw 11\nSkipping line 326: expected 7 fields, saw 9\nSkipping line 328: expected 7 fields, saw 10\nSkipping line 329: expected 7 fields, saw 9\nSkipping line 330: expected 7 fields, saw 9\nSkipping line 334: expected 7 fields, saw 11\nSkipping line 337: expected 7 fields, saw 9\nSkipping line 339: expected 7 fields, saw 10\nSkipping line 340: expected 7 fields, saw 9\nSkipping line 341: expected 7 fields, saw 9\nSkipping line 345: expected 7 fields, saw 11\nSkipping line 348: expected 7 fields, saw 9\nSkipping line 350: expected 7 fields, saw 10\nSkipping line 351: expected 7 fields, saw 9\nSkipping line 352: expected 7 fields, saw 9\nSkipping line 354: expected 7 fields, saw 12\nSkipping line 358: expected 7 fields, saw 9\nSkipping line 360: expected 7 fields, saw 10\nSkipping line 361: expected 7 fields, saw 9\nSkipping line 362: expected 7 fields, saw 9\nSkipping line 364: expected 7 fields, saw 12\nSkipping line 366: expected 7 fields, saw 8\nSkipping line 370: expected 7 fields, saw 9\nSkipping line 372: expected 7 fields, saw 10\nSkipping line 373: expected 7 fields, saw 9\nSkipping line 374: expected 7 fields, saw 9\nSkipping line 376: expected 7 fields, saw 12\nSkipping line 378: expected 7 fields, saw 8\nSkipping line 382: expected 7 fields, saw 11\nSkipping line 385: expected 7 fields, saw 9\nSkipping line 387: expected 7 fields, saw 10\nSkipping line 388: expected 7 fields, saw 9\nSkipping line 389: expected 7 fields, saw 9\nSkipping line 397: expected 7 fields, saw 10\nSkipping line 400: expected 7 fields, saw 9\nSkipping line 402: expected 7 fields, saw 10\nSkipping line 403: expected 7 fields, saw 9\nSkipping line 404: expected 7 fields, saw 9\nSkipping line 411: expected 7 fields, saw 10\nSkipping line 414: expected 7 fields, saw 13\nSkipping line 415: expected 7 fields, saw 10\nSkipping line 416: expected 7 fields, saw 9\nSkipping line 417: expected 7 fields, saw 9\nSkipping line 426: expected 7 fields, saw 11\nSkipping line 429: expected 7 fields, saw 13\nSkipping line 430: expected 7 fields, saw 10\nSkipping line 431: expected 7 fields, saw 9\nSkipping line 432: expected 7 fields, saw 9\nSkipping line 441: expected 7 fields, saw 12\nSkipping line 445: expected 7 fields, saw 13\nSkipping line 446: expected 7 fields, saw 10\nSkipping line 447: expected 7 fields, saw 9\nSkipping line 448: expected 7 fields, saw 9\nSkipping line 457: expected 7 fields, saw 12\nSkipping line 459: expected 7 fields, saw 9\nSkipping line 460: expected 7 fields, saw 8\nSkipping line 464: expected 7 fields, saw 13\nSkipping line 465: expected 7 fields, saw 10\nSkipping line 466: expected 7 fields, saw 9\nSkipping line 467: expected 7 fields, saw 9\nSkipping line 476: expected 7 fields, saw 12\nSkipping line 478: expected 7 fields, saw 9\nSkipping line 479: expected 7 fields, saw 8\nSkipping line 480: expected 7 fields, saw 8\nSkipping line 484: expected 7 fields, saw 9\nSkipping line 486: expected 7 fields, saw 10\nSkipping line 487: expected 7 fields, saw 9\nSkipping line 488: expected 7 fields, saw 9\nSkipping line 490: expected 7 fields, saw 10\nSkipping line 495: expected 7 fields, saw 11\nSkipping line 498: expected 7 fields, saw 9\nSkipping line 500: expected 7 fields, saw 10\nSkipping line 501: expected 7 fields, saw 9\nSkipping line 502: expected 7 fields, saw 9\nSkipping line 514: expected 7 fields, saw 9\nSkipping line 516: expected 7 fields, saw 10\nSkipping line 517: expected 7 fields, saw 9\nSkipping line 522: expected 7 fields, saw 11\nSkipping line 525: expected 7 fields, saw 13\nSkipping line 526: expected 7 fields, saw 10\nSkipping line 527: expected 7 fields, saw 9\n'

                                                                        intent  ...                  bot_reply
greet                                                                   /greet  ...   how can i help you sir?
utter_multiple                                          We have multiple items  ...                        NaN
utter_electronics_or_clothing  What would you prefered clothing or electronics  ...                        NaN
mobile                                                                 /mobile  ...   what would you prefered?
greet                                                                   /greet  ...   how can i help you sir?
...                                                                        ...  ...                        ...
paypal                                                                 /paypal  ...                        NaN
utter_ask_email                                         What is your email id?  ...                        NaN
email                                                   nafisazabbar@gmail.com  ...                        NaN
affirm                                                                      ok  ...                        NaN
hoodies                                                         i need hoddies  ...                        NaN

[356 rows x 6 columns]

In [33]:
df.drop(columns=['entity_value','action','bot_reply','user_input','entity_name'],inplace=True)

In [34]:
df

                                                                        intent
greet                                                                   /greet
utter_multiple                                          We have multiple items
utter_electronics_or_clothing  What would you prefered clothing or electronics
mobile                                                                 /mobile
greet                                                                   /greet
...                                                                        ...
paypal                                                                 /paypal
utter_ask_email                                         What is your email id?
email                                                   nafisazabbar@gmail.com
affirm                                                                      ok
hoodies                                                         i need hoddies

[356 rows x 1 columns]

In [35]:
# df.rename(columns=["intent","user_input"])
df.rename(columns={"intent": "user_input1"})

                                                                   user_input1
greet                                                                   /greet
utter_multiple                                          We have multiple items
utter_electronics_or_clothing  What would you prefered clothing or electronics
mobile                                                                 /mobile
greet                                                                   /greet
...                                                                        ...
paypal                                                                 /paypal
utter_ask_email                                         What is your email id?
email                                                   nafisazabbar@gmail.com
affirm                                                                      ok
hoodies                                                         i need hoddies

[356 rows x 1 columns]

In [36]:
df1=df.dropna()
df1

                                                                        intent
greet                                                                   /greet
utter_multiple                                          We have multiple items
utter_electronics_or_clothing  What would you prefered clothing or electronics
mobile                                                                 /mobile
greet                                                                   /greet
...                                                                        ...
paypal                                                                 /paypal
utter_ask_email                                         What is your email id?
email                                                   nafisazabbar@gmail.com
affirm                                                                      ok
hoodies                                                         i need hoddies

[276 rows x 1 columns]

In [37]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [38]:
import re
letters_only = re.sub("[^a-zA-Z]"," ",str(df1))
letters_only

'                                                                        intent greet                                                                    greet utter multiple                                          We have multiple items utter electronics or clothing  What would you prefered clothing or electronics mobile                                                                  mobile greet                                                                    greet                                                                                paypal                                                                  paypal utter ask email                                         What is your email id  email                                                   nafisazabbar gmail com affirm                                                                      ok hoodies                                                         i need hoddies       rows x   columns '

In [39]:
sentences = nltk.sent_tokenize(letters_only)
sentences

['                                                                        intent greet                                                                    greet utter multiple                                          We have multiple items utter electronics or clothing  What would you prefered clothing or electronics mobile                                                                  mobile greet                                                                    greet                                                                                paypal                                                                  paypal utter ask email                                         What is your email id  email                                                   nafisazabbar gmail com affirm                                                                      ok hoodies                                                         i need hoddies       rows x   columns']

In [40]:
words = nltk.word_tokenize(letters_only)
words

['intent',
 'greet',
 'greet',
 'utter',
 'multiple',
 'We',
 'have',
 'multiple',
 'items',
 'utter',
 'electronics',
 'or',
 'clothing',
 'What',
 'would',
 'you',
 'prefered',
 'clothing',
 'or',
 'electronics',
 'mobile',
 'mobile',
 'greet',
 'greet',
 'paypal',
 'paypal',
 'utter',
 'ask',
 'email',
 'What',
 'is',
 'your',
 'email',
 'id',
 'email',
 'nafisazabbar',
 'gmail',
 'com',
 'affirm',
 'ok',
 'hoodies',
 'i',
 'need',
 'hoddies',
 'rows',
 'x',
 'columns']

In [41]:
len(words)

47

In [42]:
w=['no','never','dont','no way','not really','sad','unhappy','not good','horrible','disappointed']
len(w)

10

In [43]:
w=['no','never','dont','no way','not really','sad','unhappy','not good','horrible','disappointed']
words.extend(w)
words

['intent',
 'greet',
 'greet',
 'utter',
 'multiple',
 'We',
 'have',
 'multiple',
 'items',
 'utter',
 'electronics',
 'or',
 'clothing',
 'What',
 'would',
 'you',
 'prefered',
 'clothing',
 'or',
 'electronics',
 'mobile',
 'mobile',
 'greet',
 'greet',
 'paypal',
 'paypal',
 'utter',
 'ask',
 'email',
 'What',
 'is',
 'your',
 'email',
 'id',
 'email',
 'nafisazabbar',
 'gmail',
 'com',
 'affirm',
 'ok',
 'hoodies',
 'i',
 'need',
 'hoddies',
 'rows',
 'x',
 'columns',
 'no',
 'never',
 'dont',
 'no way',
 'not really',
 'sad',
 'unhappy',
 'not good',
 'horrible',
 'disappointed']

In [45]:
len(words)

57

In [49]:
x_train = words
y_train = [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,11,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0]
len(y_train)

57

In [50]:
len(x_train)

57

In [51]:
from nltk.tokenize import RegexpTokenizer
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

In [52]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [53]:
tokenizer = RegexpTokenizer(r'\w+')
en_stopwords = set(stopwords.words('english'))
ps = PorterStemmer()

In [54]:
def getCleanedText(text):
  text = text.lower()
  #tokenize
  tokens = tokenizer.tokenize(text)
  new_tokens = [token for token in tokens if token not in en_stopwords]
  stemmed_tokens = [ps.stem(tokens)for tokens in new_tokens]
  clean_text = "".join(stemmed_tokens)
  return clean_text

In [55]:
x_test = ["good","okay","right","hey","do","no"]

In [56]:
x_clean = [getCleanedText(i)for i in x_train]
y_clean = [getCleanedText(i)for i in x_test]

In [57]:
x_clean

['intent',
 'greet',
 'greet',
 'utter',
 'multipl',
 '',
 '',
 'multipl',
 'item',
 'utter',
 'electron',
 '',
 'cloth',
 '',
 'would',
 '',
 'prefer',
 'cloth',
 '',
 'electron',
 'mobil',
 'mobil',
 'greet',
 'greet',
 'paypal',
 'paypal',
 'utter',
 'ask',
 'email',
 '',
 '',
 '',
 'email',
 'id',
 'email',
 'nafisazabbar',
 'gmail',
 'com',
 'affirm',
 'ok',
 'hoodi',
 '',
 'need',
 'hoddi',
 'row',
 'x',
 'column',
 '',
 'never',
 'dont',
 'way',
 'realli',
 'sad',
 'unhappi',
 'good',
 'horribl',
 'disappoint']

In [58]:
y_clean

['good', 'okay', 'right', 'hey', '', '']

In [59]:
from sklearn.feature_extraction.text import CountVectorizer

In [60]:
cv = CountVectorizer(ngram_range=(1,2))

In [61]:
X_vec = cv.fit_transform(x_clean).toarray()

In [62]:
X_vec

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [63]:
print(cv.get_feature_names())

['affirm', 'ask', 'cloth', 'column', 'com', 'disappoint', 'dont', 'electron', 'email', 'gmail', 'good', 'greet', 'hoddi', 'hoodi', 'horribl', 'id', 'intent', 'item', 'mobil', 'multipl', 'nafisazabbar', 'need', 'never', 'ok', 'paypal', 'prefer', 'realli', 'row', 'sad', 'unhappi', 'utter', 'way', 'would']

In [64]:
xt_vect  = cv.transform(y_clean).toarray()
xt_vect

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [65]:
from sklearn.naive_bayes import MultinomialNB

In [66]:
mn = MultinomialNB()

In [67]:
mn.fit(X_vec,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [68]:
y_pred = mn.predict(xt_vect)
y_pred

array([1, 1, 1, 1, 1, 1])

In [69]:
if y_pred.any==1:
  print("the sentiment is nagative")
else:
  print("the sentiment is postive")

the sentiment is postive