In [2]:
import pandas as pd
#local directory df
df= pd.read_csv('chats.csv',error_bad_lines=False)
df.head(10)

b'Skipping line 5: expected 7 fields, saw 9\nSkipping line 10: expected 7 fields, saw 9\n'

,intent,user_input,entity_name,entity_value,action,bot_reply
greet,/greet,NaN,NaN,utter_botgreet,Welcome to our shop,how can i help you sir?
utter_multiple,We have multiple items,NaN,NaN,NaN,NaN,NaN
utter_electronics_or_clothing,What would you prefered clothing or electronics,NaN,NaN,NaN,NaN,NaN
mobile,/mobile,NaN,NaN,utter_mobile,We have different brand of mobile phones,what would you prefered?
greet,/greet,NaN,NaN,utter_botgreet,Welcome to our shop,how can i help you sir?
utter_multiple,We have multiple items,NaN,NaN,NaN,NaN,NaN
utter_electronics_or_clothing,What would you prefered clothing or electronics,NaN,NaN,NaN,NaN,NaN
mobile,/mobile,NaN,NaN,utter_mobile,We have different brand of mobile phones,what would you prefered?

In [13]:
df.shape

(8, 6)

In [14]:
df.info

<bound method DataFrame.info of                                                                         intent  \
greet                                                                   /greet
utter_multiple                                          We have multiple items
utter_electronics_or_clothing  What would you prefered clothing or electronics
mobile                                                                 /mobile
greet                                                                   /greet
utter_multiple                                          We have multiple items
utter_electronics_or_clothing  What would you prefered clothing or electronics
mobile                                                                 /mobile

                               user_input  entity_name    entity_value  \
greet                                 NaN          NaN  utter_botgreet
utter_multiple                        NaN          NaN             NaN
utter_electronics_or_clothing         NaN          NaN             NaN
mobile                                NaN          NaN    utter_mobile
greet                                 NaN          NaN  utter_botgreet
utter_multiple                        NaN          NaN             NaN
utter_electronics_or_clothing         NaN          NaN             NaN
mobile                                NaN          NaN    utter_mobile

                                                                 action  \
greet                                               Welcome to our shop
utter_multiple                                                      NaN
utter_electronics_or_clothing                                       NaN
mobile                         We have different brand of mobile phones
greet                                               Welcome to our shop
utter_multiple                                                      NaN
utter_electronics_or_clothing                                       NaN
mobile                         We have different brand of mobile phones

                                               bot_reply
greet                           how can i help you sir?
utter_multiple                                       NaN
utter_electronics_or_clothing                        NaN
mobile                          what would you prefered?
greet                           how can i help you sir?
utter_multiple                                       NaN
utter_electronics_or_clothing                        NaN
mobile                          what would you prefered?  >

In [15]:
df.describe().transpose()

             count  mean  std  min  25%  50%  75%  max
user_input     0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
entity_name    0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [16]:
count  = df.isnull().sum().sort_values(ascending=False)
count

entity_name     8
user_input      8
bot_reply       4
action          4
entity_value    4
intent          0
dtype: int64

In [17]:
percentage = ((df.isnull().sum()/len(df)*100)).sort_values(ascending=False)
percentage

entity_name     100.0
user_input      100.0
bot_reply        50.0
action           50.0
entity_value     50.0
intent            0.0
dtype: float64

In [18]:
len(df)

8

In [19]:
((df.isnull().sum()/len(df))*100).sort_values(ascending=False)

entity_name     100.0
user_input      100.0
bot_reply        50.0
action           50.0
entity_value     50.0
intent            0.0
dtype: float64

In [20]:
missing_data = pd.concat([count,percentage],axis=1,keys=['count','percentage'])
missing_data

              count  percentage
entity_name       8       100.0
user_input        8       100.0
bot_reply         4        50.0
action            4        50.0
entity_value      4        50.0
intent            0         0.0

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
print("percentage for default/n")
print(round(df.))

In [22]:
#removing column from the dataframe
df.drop(columns=['entity_name'],inplace=True)

In [28]:
df

,intent,user_input,entity_value,action,bot_reply
greet,/greet,NaN,utter_botgreet,Welcome to our shop,how can i help you sir?
utter_multiple,We have multiple items,NaN,NaN,NaN,NaN
utter_electronics_or_clothing,What would you prefered clothing or electronics,NaN,NaN,NaN,NaN
mobile,/mobile,NaN,utter_mobile,We have different brand of mobile phones,what would you prefered?
greet,/greet,NaN,utter_botgreet,Welcome to our shop,how can i help you sir?
utter_multiple,We have multiple items,NaN,NaN,NaN,NaN
utter_electronics_or_clothing,What would you prefered clothing or electronics,NaN,NaN,NaN,NaN
mobile,/mobile,NaN,utter_mobile,We have different brand of mobile phones,what would you prefered?

In [24]:
#apply frist level cleaning 
import re
import string
def text_clean_1(text):
    text = text.lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub('[%s]'% re.escape(string.punctuation),'',text)
    text = re.sub('\w*\d\w','',text)
    return text
cleaned1 = lambda x:text_clean_1(x)

In [27]:
#lets take a look at the update text
df['clean_discription'] = pd.DataFrame(df.describe.apply(cleaned1))

AttributeError: 'function' object has no attribute 'apply'

In [3]:
#\w return a match at every word character ,character from a to Z number from 0 to 9 and underscore character 
from datetime import date
 
def calculateAge(birthDate):
    today = date.today()
    age = today.year - birthDate.year -((today.month, today.day) <(birthDate.month, birthDate.day))
 
    return age
     
# Driver code
print(calculateAge(date(1996, 1, 2)), "years")

25 years